@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
//Fonts
--font-primary: 'Poppins', sans-serif;
--font-logo: 'Montserrat', sans-serif;

//Font Colors
--primary-font-color: #000000;
--secondary-font-color: #3A3A3A;


//Colors
--background-color-primary: #FFFFFF; 
--background-color-secondary: #F9F1E7;
--button-color: #B88E2F;
--active-element-color: #B88E2F;
--card-color: #F4F5F7;
}


//Font size
*{
    font-size: 10px;
}
