.formContainer{
width: 100%;
height: calc(100vh - 100px);

display: flex;
justify-content: center;
align-items: center;
}

.loginForm{
box-sizing: border-box;
width: 100%;
max-width: 400px;

padding: 50px;

border: 1px solid bisque;
border-radius: 4px;

    label {
        font-family: var(--font-primary);
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        color: var(--font-primary);  
    }
}

.input{
    border: 1px solid black;
    border-radius: 6px;
    margin-bottom: 20px;
}

.buttonBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    max-width: max-content;
    height: 30px;

    margin: 10px;
    padding: 5px 10px;

    font-family: var(--font-primary);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: var(--font-primary); 
    
    border-radius: 6px;
}