@import "../../styles/variables";

.layout{
    position: relative;
    top: $desktop-header-size;

    width: 100%;
    height: calc(100vh - $desktop-header-size);
    max-width: 1440px;
    
    overflow-x:hidden;
    margin: 0 auto;
}