@import "src/styles/variables";

.myCard {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 285px;
    max-height: 446px;
    background-color: var(--card-color);
    z-index: 100;
}

.imgBox {
    position: relative;
    max-width: 285px;
    max-height: 301px;
}

.img {
    width: 100%;
    height: 100%;
    max-width: 285px;
    max-height: 301px;
}

.label {
    visibility: hidden;
    position: absolute;
    width: 48px;
    height: 48px;

    top: 8%;
    right: 8%;
    &.show {
        visibility: visible;
    }

    @media (max-width: $mobile-size) {
        width: 36px;
        height: 36px;
    }
}

.textCard {
    width: 100%;
    height: 100%;
    max-width: 254px;
    max-height: 99px;
    margin: 16px 15px 30px 16px;

    @media (max-width: 1270px) {
        margin: 8px 15px 6px 16px;
        max-height: 130px;
        width: 90%;
    }

    @media (max-width: 500px) {
        width: 80%;
    }
}

.productName {
    margin-bottom: 8px;
    font-family: var(--font-primary);
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--secondary-font-color);

    @media (max-width: 1270px) {
        font-size: 2.2rem;
        line-height: 26px;
        margin-bottom: 6px;
    }

    @media (max-width: 400px) {
        font-size: 2.0rem;
        line-height: 23px;
        margin-bottom: 4px;
    }
}

.description{
    margin-bottom: 8px;
    font-family: var(--font-primary);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #898989;

    @media (max-width: 1270px) {
        margin-bottom: 6px;
        line-height: 22px;
    }

    @media (max-width: 400px) {
        font-size: 1.4rem;
        margin-bottom: 4px;
        line-height: 20px;
    }
}

.priceBox{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1270px) {
        flex-direction: column;
        align-items: start;
    }
}

.fixPrice{
    margin: 0;
    padding: 0;

    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--secondary-font-color);

    @media (max-width: 1270px) {
        font-size: 1.8rem;
        line-height: 24px;
    }

    @media (max-width: 400px) {
        font-size: 1.6rem;
        line-height: 18px;
    }
}

.originalPrice{
    visibility: hidden;
    margin: 0;
    padding: 0 0 0 16px;

    font-family: var(--font-primary);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-decoration: line-through;
    text-align: left;
    color: #B0B0B0;

    &.show {
        visibility: visible;
    }

    @media (max-width: 1270px) {
    margin: 5px 0;
    line-height: 22px;
    padding: 0;
    }

    @media (max-width: 400px) {
        margin: 3px 0;
        font-size: 1.4rem;
        line-height: 20px;
    }
}