@import "../../styles/variables";

.header{
    width: 100%;
    height: $desktop-header-size;
    background-color: var(--background-color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0 54px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    @media (max-width: 1024px) {
            padding: 0 25px 0 11px;
    }

    @media (max-width: $tablet-size) {
        padding: 0 13px 0 13px;
    }

    @media (max-width: $mobile-size) {
        justify-content: end;
    }
}


.logoBox {
    max-width: max-content;
    height: 41px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 55px;

    @media (max-width: $tablet-size) {
        margin-right: 45px;
    }

    @media (max-width: $mobile-size) {
        position: absolute;
        left: 60px;
        margin: 0;
    }

    img {
        width: 50px;
        height: 32x;

        @media (max-width: 1024px) {
            width: 39px;
            height: 25px;
        }

        @media (max-width: $mobile-size) {
            width: 35px;
            height: 22px;
        }
    }
    span {
        font-family: var(--font-logo);
        font-size: 3.4rem;
        font-weight: 700;
        line-height: 41px;
        color: var(--primary-font-color);
        margin-left: 5px;

        @media (max-width: 1024px) {
            font-size: 2.7rem;
            line-height: 32px;
        }

        @media (max-width: $tablet-size) {
            position: absolute;
            visibility: hidden;
        }

        @media (max-width: $mobile-size) {
            position: static;
            visibility: visible;
        }
        
        @media (max-width: 445px) {
            position: absolute;
            visibility: hidden;
        }
    }
}

.routeButtonsBox {
    width: 430px;
    height: 24px;   
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1024px) {
        width: 336px;
    }

    @media (max-width: $mobile-size) {
        position: absolute;
        visibility: hidden;
    }
}

.routeButtons{
    height: 24px;

    font-family: var(--font-primary);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 24px;
    color: var(--primary-font-color);
    
    &:hover {
        text-decoration: underline;
    }

    @media (max-width: $mobile-size) {
        margin-bottom: 20px;
    }
}

.headerButtonsBox {
    width: 247px;
    height: 28px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 55px;

    @media (max-width: 1024px) {
        width: 192px;
    }

    @media (max-width: $tablet-size) {
        margin-left: 45px;
    }

    @media (max-width: $mobile-size) {
        margin: 0;
    } 

    // @media (max-width: 360px) {
    //     width: 172px;
    // } 
}

.headerButtons{
    width: 28px;
    height: 28px;

    @media (max-width: 1024px) {
        img{
            height: 22px;           
        }
    }
}

.burgerButton{
    position: absolute;
    visibility: hidden;
    width: 28px;
    height: 28px;

    @media (max-width: $mobile-size) {
        left: 12px;
        visibility: visible;
    }
}