@import "src/styles/variables";

.searchContainer{
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 28px 410px;
    align-items: center;
    justify-content: center;
}

.searchInput{
    max-width: 400px;
    margin-left: 10px;  
}

.emptyText{
    margin-bottom: 20px;
    font-family: var(--font-primary);
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 36px;
    color: var(--primary-font-color);
    text-align: center;

    @media (max-width: $mobile-size) {
        font-size: 2.0rem;
        font-weight: 400;
        line-height: 30px;
    }
}