.container {
    position: relative;

    max-width: max-content;
    height: 582px;

    display: flex;
    align-items: center;
}


  // children

.window{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.all-pages-container{
    height: 100%;
    display: grid;

    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.firstButtonContainer{
    position: absolute;
    left: 749px;
    display: flex;
} 

.buttonCircle {
    position: absolute;
    width: 48px;
    height: 48px;
    cursor: pointer;

    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.active-page{
    height: 100%;
    margin: 0 24px 0 0;
    transition: translate;
    transition-property: transform;
    transition-duration: 600ms;
    transition-timing-function: cubic-bezier(0.88, 0.42, 0.42, 1);
}

.page{
    height: 95%;
    transform: scale(0.88) translateY(calc((582px * 0.88 - 582px) / 2));
    transition: translate;
    transition-property: transform;
    transition-duration: 600ms;
    transition-timing-function: cubic-bezier(0.88, 0.42, 0.42, 1);
}


// characteristics

.windowNameStick{
    position: absolute;
    left: 24px;
    bottom: 24px;
    width: 217px;
    height: 130px;
    overflow: hidden;
    
    background-color: rgba(255, 255, 255, 0.72);
}

.all-characteristics-container{
    height: 100%;
    display: grid;

    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.characteristicStick{
    padding: 32px 0 0 32px;
    width: 217px;
    height: 130px;
}

.numberAndType{
    margin-bottom: 8px;
    font-family: var(--font-primary);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #616161;
}

.name{
    font-family: var(--font-primary);
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--secondary-font-color);
}

.secondButtonContainer{
    position: absolute;
    left: 241px;
    bottom: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonSquare{
    width: 48px;
    height: 48px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}


    // dots

.dotsContainer {
    position: absolute;
    bottom: 29px;
    left: 452px;

    max-width: max-content;
    min-width: min-content;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .dots {
    position: relative;
    width: 27px;
    height:27px;
    margin-right: 20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

  }

  .activeDot{
    position: absolute;
  }
